@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #ADA996;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2c0b4, #DBDBDB, #F2F2F2, #c2c0b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000;
  font-family: 'Playfair Display', serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 800px;
  padding: 40px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0px 10px 10px rgba(210, 210, 210, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left, .fa-quote-right {
  font-size: 4rem;
}

.quote-author {
  margin-top: 16px;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
}